/env/
/.vs/Image-Processing-Numpy/v17/.suo
/.vs/Image-Processing-Numpy/FileContentIndex/80e2b625-e319-489d-9130-bfd93198d93c.vsidx
/.vs/Image-Processing-Numpy/FileContentIndex/d2739401-6a95-4f42-a526-cf10676da345.vsidx
/.vs/Image-Processing-Numpy/FileContentIndex
